services:
  services:
  # Next.js
  frontend:
    build: ./frontend
    ports: ["3000:3000"]
    volumes: ["./frontend:/app"]

  # Laravel
  backend-laravel:
    build: ./backend-laravel
    ports: ["8000:8000"]
    volumes: ["./backend-laravel:/var/www/html"]
    environment:
      DB_HOST: db

  # Go
  backend-go:
    build: ./backend-go
    ports: ["8080:8080"]
    volumes: ["./backend-go:/app"]

  # Database
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data