services:
  # Next.js
  front:
    build: ./docker/front
    volumes:
      - ./app:/app
    environment: 
      - WATCHPACK_POLLING=true  #ホットリロード機能
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"
  # Laravel
  php:
    build: ./docker/php
    volumes:
      - ./backend:/var/www/

  # Go
#  go:
#    build: ./backend-go
#    ports: ["8080:8080"]
#    volumes: ["./backend-go:/app"]

  # Database
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: saas_db
      POSTGRES_USER: saas_user
      POSTGRES_PASSWORD: saas_password
      
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./backend:/var/www/
      
volumes:
    db-data: